extends layout.pug

block vars
  -var title = 'agenda'

block title
        | Agenda
block content      
        ul
            li.fragment Tools and environments
            li.fragment JS Basics
            li.fragment Asynchronous Programming             
            li.fragment What we have missed             
