extends layout.pug

block vars
  -var title = 'agenda4tomorrow'

block title
        | Agenda for tomorrow
block content      
        ul
            li.fragment Introduction to Jasmine
            li.fragment Introduction to Protractor
            li.fragment Page object model in JavaScript
            li.fragment CSS Selectors
            li.fragment XPath selectors                                            