extends layout.pug 

block vars
  - var title = 'agenda'

block title
  | Reactshop - Agenda
block content
  ul
    li <em>ES6</em> recap
    li Introduction to <em>JSX</em>
    li Introduction to <em>React</em>
    li <em>Reactshop</em> - live coding session
