extends layout.pug

block vars
  -var title = 'async'

block title
        a(href="https://devonfw.github.io/js-training/promises-to-observables/index.html#/", target="_blank" )
          | Asynchronous Programming in JavaScript 
block content       
      