extends layout.pug 

block vars
  - var title = 'beforeStartInstall'

block title
        | Install Software
block content
        ul
          li Gitter
          li Git
          li node
          li Visual Code
          li Chrome browser
          li Cmder