extends layout.pug 

block vars
  - var title = 'composing'

block title
        |  Composing Components
block content
      pre.fragment
        code.js 
          | function Welcome(props) {
          |    return &lt;h1&gt;Hello, {props.name}&lt;/h1&gt;;
          |  }

      pre.fragment
        code.js 
          | 
          | function App() {
          |    return (
          |      &lt;div&gt;
          |        &lt;Welcome name="Sara"/&gt;
          |        &lt;Welcome name="Cahal"/&gt;
          |        &lt;Welcome name="Edite"/&gt;
          |      &lt;/div&gt;
          |    );
          |  }

      pre.fragment
        code.js 
          | 
          |ReactDOM.render(
          |    &lt;App /&gt;,
          |    document.getElementById('root')
          |  );



      p.credits
        a(href="https://reactjs.org/docs/components-and-props.html") Components and Props