extends layout.pug 

block vars
  - var title = 'embedding'

block title
        |  Embedding Expressions in JSX
block content
      pre.fragment
        code.js 
          |  ReactDOM.render(
          |    <h1>
          |      Hello, {formatName(user)}!
          |    </h1>,
          |    document.getElementById('root')
          |  );
      h3 
          |  React app has single root


      p.credits
        a(href="https://reactjs.org/docs/introducing-jsx.html") Introducing JSX
