extends layout.pug 

block vars
  - var title = 'extracting'

block title
        |  Extracting Components
block content
      pre.fragment
        code.js 
          | function Avatar(props) {
          |    return (
          |      <img className="Avatar"
          |        src={props.user.avatarUrl}
          |        alt={props.user.name}
          |      />
          |    );
          |  }


      pre.fragment
        code.js 
          |  function UserInfo(props) {
          |    return (
          |      <div className="UserInfo">
          |        <Avatar user={props.user} />
          |        <div className="UserInfo-name">
          |          {props.user.name}
          |        </div>
          |      </div>
          |    );
          |  }
      p.credits
        a(href="https://reactjs.org/docs/components-and-props.html") Components and Props