extends layout.pug 

block vars
  - var title = 'extracting'

block title
        |  Extracting Components
block content
      pre.fragment
        code.js.small 
          |function Comment(props) {
          |  return (
          |   &lt;div className="Comment"&gt;
          |     &lt;div className="UserInfo"&gt;
          |       &lt;img className="Avatar"
          |         src={props.author.avatarUrl}
          |         alt={props.author.name}
          |       /&gt;
          |       &lt;div className="UserInfo-name"&gt;
          |         {props.author.name}
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div className="Comment-text"&gt; {props.text} &lt;/div&gt;
          |     &lt;div className="Comment-date"&gt; {formatDate(props.date)}&lt;/div&gt;
          |   &lt;/div&gt;
          |  );
          |}

      p.credits
        a(href="https://reactjs.org/docs/components-and-props.html") Components and Props