extends layout.pug 

block vars
  - var title = 'funcional'

block title
        |  Functional and Class Components
block content
      pre.fragment
        code.js 
          | function Welcome(props) {
          |    return &lt;h1&gt;Hello, {props.name}&lt;/h1&gt;;
          |  }

      pre.fragment
        code.js 
          | 
          | class Welcome extends React.Component {
          |   render() {
          |    return &lt;h1&gt;Hello, {this.props.name}&lt;/h1&gt;;
          |  }
          |}

      p.credits
        a(href="https://reactjs.org/docs/components-and-props.html") Components and Props