extends layout.pug 

block vars
  - var title = 'jsx'

block title
        |  JSX
block content
      pre.fragment
        code.js 
          |  const element = &lt;h1&gt;Hello, world!&lt;/h1&gt;;
      p.credits
        a(href="https://reactjs.org/docs/introducing-jsx.html") Introducing JSX
          