extends layout.pug

block vars
  -var title = 'missed'

block title
        |  What we have missed
block content       
       
      ul
            li.fragment 
              a(href="https://devonfw.github.io/js-training/js-to-es6/index.html#/5", target="_blank" )  ECMA script 2015
            li.fragment
               a(href="https://www.typescriptlang.org/", target="_blank" )   Typescript 
            li.fragment
              | and many many more   
