extends layout.pug

block vars
  -var title = 'plan'

block title
        | Plan for this week
block content      
        ul
            li.fragment.no-bullet 
               h3 Monday
               ul      
                 li JavaScript                
            li.fragment.no-bullet 
               h3 Tuesday
               ul      
                  li Jasmine 
                  li Protractor        
            li.fragment.no-bullet 
               h3 Wednesday
               ul      
                  li Protractor advanced features        
            li.fragment.no-bullet 
               h3 Thursday and Friday
               ul      
                  li Time for solving final task                                             
                  li Feedback session (Friday)