extends layout.pug 

block vars
  - var title = 'funcional'

block title
        |  Rendering a Component
block content

      pre
        code.js 
          | 
          | function Welcome(props) {
          |    return <h1>Hello, {props.name}</h1>;
          |  }

          |  const element = <Welcome name="Sara" />;
          |  ReactDOM.render(
          |    element,
          |    document.getElementById('root')
          |  );

      p.credits
        a(href="https://reactjs.org/docs/components-and-props.html") Components and Props