extends layout.pug 

block vars
  - var title = 'styling'

block title
        | Adding complexity - styling
block content
      pre.fragment
        code.js.small 
          |class FancyInput extends React.Component {
          |    constructor(props) {
          |      super(props); // This is required
          |      const { initialValue } = props;
          |      this.state = { value: initialValue, somethingElse: 5};
          |    }

          |    handleChange = ({target: {value}}) => {
          |      this.setState({ value }); // Asynchronous!
          |    }

          |    render() {
          |      const { value } = this.state;
          |      const styles = {
          |        border: `3px solid ${value === 'zielony' ? 'green' : 'red'}`,
          |      };
          |      return &lt;input type="text" value={value} style={style} onChange={this.handleChange} /&gt;
          |    }
          |  }
