extends layout.pug 

block vars
  - var title = 'title'

block title
        | React 101
block content
        p
          | 30 minutes introduction to React framework
        p
          | by  Piotr Staniów        
        p.small
          | (and Paweł Kamiński)
        p.credits
          | 20 kwiecień 2018 Hotel Dębowy - Chapter day stuff :)