extends layout.pug 

block vars
  - var title = 'writing'

block title
        |  Writing Components
block content
        p
          | The main purpose of web frameworks is to encapsulate custom HTML elements logic 