extends ../layout.pug 

block vars
  - var title = 'react-intro'

block title
  | React
block content
  p.blockquote
    | The main purpose of each web framework is to extend HTML with custom <code>&lt;elements&gt;</code> and attributes
  em.fragment
    | ...and to encapsulate some logic tied to them.
