extends ../layout.pug 

block vars
  - var title = 'step-1'

block title
  | Step 1 - Warm up
block content
  div.left
    p.small
      |  Our first goal is to create a Homepage that a user will see when
      |  visiting our shop.<br> It will display the page layout and categories
      |  available for shopping.
    ul
      li
        | Look around in <mark>App.js</mark>. It is a right place to render a grid of categories.<br>
      li
        | Add <mark>div</mark> container and some <mark>div</mark> elements inside it. <br>
        | You can use <mark>category-grid</mark> and <mark>category-item</mark> classes 
        | that already have some CSS styles assigned. Add a few categories.
