extends ../layout.pug 

block vars
  - var title = 'chrome-dev-tools'

block title      
         img(src="img/chrom-dev-tools.png")
block content  
        p 
          |The Chrome Developer Tools (DevTools for short), are a set of web authoring and debugging tools built into Google Chrome. 
          |the DevTools provide web developers deep access into the internals of the browser and their web application.
          | Use the DevTools to efficiently track down layout issues, set JavaScript breakpoints, and get insights for code optimization.

        a.quote(href="https://developer.chrome.com/devtools" target="blank") developer.chrome.com/devtools     
            
         