extends ../layout.pug 

block vars
  - var title = 'node'

block title      
        img(src="img/nodejs-logo.png")
block content        
        p
          a(href="https://nodejs.org/en/",  target="_blank")
          node.js
          | - is a JavaScript runtime environment built on V8 JavaScript engine which enables executing JavaScript outside browser. 
          | Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.