extends ../layout.pug 

block vars
  - var title = 'node'

block title      
        img(src="img/npm-logo.png")
block content        
        p
          a(href="https://www.npmjs.com/",  target="_blank")
          npm
          | node package manager makes it easy for JavaScript
          | developers to share and reuse code, and it makes it easy to update the code that you're sharing.