extends ../layout.pug

block vars
  -var title = 'tools'

block title
        |  Tools
block content       
       
      ul
            li.fragment Visual Code            
            li.fragment Google Chrome Dev Tools
            li.fragment node js
            li.fragment debugging                       
