extends ../layout.pug 

block vars
  - var title = 'visual-code'

block title      
        img(src="img/visual-code.png")
block content        
         ul
           li.fragment
              | lightweight&nbsp;
              a(href="https://github.com/Microsoft/vscode/",  target="_blank")
                | open source editor
           li.fragment
              | intelliSens
           li.fragment
              | integrated git client
           li.fragment
              | integrated terminal
           li.fragment
              |  tons of plugins      
         