extends ../layout.pug 

block vars
  - var title = 'es6-intro'

block title
    | ECMAScript 6
block content
    p
      | ECMA-262 is the de facto standard for JavaScript language implementation<br>
      | We'll review some features in versions 2015+
