extends ../layout.pug 

block vars
  - var title = 'jsx-intro'

block title
    | JSX Harmony
block content
    ul
        li.fragment
            | It's an extension of JavaScript
        li.fragment
            | Allows embedding XML in JavaScript
        li.fragment
            | It's not required to use React but it's convenient